<div class="container mt-4">

  <h1 class="text-center p-3 mb-4" 
      style="background-color:#0ae98a; color:white; border-radius:10px;">
    Jóvenes Emprendedores Colombianos
  </h1>

  <div class="row justify-content-center g-4">

    <div class="col-md-3" 
         *ngFor="let emprendedor of emprendedores"
         style="cursor:pointer;"
         (click)="irADetalle(emprendedor.id)">

      <div class="card shadow-sm border-0" 
           style="border-radius:15px;">
        
        <img [src]="emprendedor.foto_url"
             class="card-img-top"
             style="border-top-left-radius:15px; border-top-right-radius:15px;"
             alt="{{ emprendedor.nombre }}">

        <div class="card-body">
          <h5 class="card-title">{{ emprendedor.nombre }}</h5>

          <p>
            <strong>Género:</strong> {{ emprendedor.genero }}<br>
            <strong>Pregrado:</strong> {{ emprendedor.pregrado }}
          </p>
        </div>

      </div>

    </div>
  </div>

</div>